body {
    font-family: "Titillium Web", sans-serif;
}

.main-content {
    margin-left: 90px;
    width: 100%;
}

.top-layer {
    z-index: 9999;
}

.bg-black {
    background-color: #000 !important;
    color: #fff;
}

.bg-yellow-dark {
    background-color: darkorange !important;
}

.bg-yellow {
    background-color: #ffff00 !important;
}

.text-black {
    color: #000 !important;
}

.no-max-width {
    max-width: inherit !important;
}

.n-b-r {
    border-radius: 0 !important;
}

.n-p-lr {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pr-30-px {
    padding-right: 30px;
}

.btn-app-default {
    background-color: #5c6370;
    color: #fff;
}

.btn-app-default:hover {
    background-color: #262729;
    color: #fff;
}

.btn-grad {
    background-image: linear-gradient(to right, #3500D3 0%, #240090  51%, #190061  100%);
    // margin: 10px;
    // padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 15px #eee;
    border-radius: 2px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-login {
    background-image: linear-gradient(to right, #3500D3 0%, #240090  51%, #190061  100%);
    // margin: 10px;
    padding: 10px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 15px #eee;
    border-radius: 2px;
    // display: block;
}

.btn-login:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-modal-close {
    background-color: #181818;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
}

.btn-modal-close:hover {
    background-color: #5c6370;
    color: #fff;
}

.p-special-1 {
    padding-left: calc(15px + 0.25rem);
    padding-right: calc(15px + 0.25rem);
}

.b-s-b-b {
    box-sizing: border-box !important;
}

/*
* Modal
*/
.modal-backdrop.show {
    opacity: 0.75;
}
.modal-content {
    background-color: #000;
    border: solid 1px #fff;
    color: #fff;
    border-radius: 0;
}
.modal-header {
    color: #fff;
    .close {
        color: #fff;
    }
}
.modal-body {
    color: #fff;
}

.main-container,
.container-login {
    margin: -1.5rem 0;
    min-height: calc(100vh - 52px);
}
.container-login,
.container-register {
    .login-form {
        // height: calc(100vh - 52px);
        height: 100vh;
        padding: 0;
    }
    .card {
        border: 0;
        border-radius: 0;
        margin-top: 15rem;

        .login-logo {
            width: 250px;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
            margin-left: 5rem;
        }

        .form-control {
            border-radius: 0;
        }

        button.btn-secondary {
            border-radius: 0;
            padding: 12px 40px;
            text-transform: uppercase;
        }
    }
}

/*
 * Sidebar
 */
#sidebarMenu {
    border-right: 1px solid #fff;
    min-height: calc(100vh - 52px);
}
 .sidebar {
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 600;
    color: #fff;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  .navbar {
      padding-top: 5px;
      padding-bottom: 5px;
  }
  .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #6c757d;
}

/*
* task sections
*/
.form-inline {
    h3 {
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    .task-table-wrapper {
        margin-right: 30px;
    }
    .task-section {
        font-size: 0.9rem;
        font-weight: 400;

        .mw-unset {
            min-width: unset;
        }
  
        input[type=radio],
        input[type=checkbox] {
            width: 15px;
            height: 15px;
            margin-right: 15px;
        }
  
        .form-check {
            justify-content: left;
            height: 22px;
            padding: 0.2rem 0.5rem;
        }

        .input-group-prepend {
            .input-group-text {
                border-radius: 0;
                background: #000;
                border-color: #000;
                color: #fff;
            }
        }
        
        input.form-control,
        select.form-control {
            border-radius: 0;
            height: 1.5rem;
        }

        select.form-control {
            padding-top: 2px;
            padding-bottom: 2px;
        }

        input[type=text].form-control {
            width: 100%;
        }

        .mr-20 {
            margin-right: 20px;
        }

        .col-20 {
            max-width: 20%;
            flex: 0 0 20%;
        }

        .btn-app-default {
            background-color: #5c6370;
            color: #fff;
        }

        .btn-app-default:hover {
            background-color: #262729;
        }
    }
}

/*
* datatable
*/
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    background-color: #000;
    border: 1px solid #fff;
}

.dataTables_wrapper .dataTables_length select {
    background-color: #fff;
    margin: 0 5px;
}

.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate {
    color: #fff;
}

.dataTables_wrapper .dataTables_filter input {
    background-color: #fff;
    margin-left: 5px;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 5px 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: #fff !important;
}

.dataTables_wrapper .dataTables_filter {
    display: none;
}

thead input {
    width: 100%;
}
table#task-table {
    // max-height: 218px;
    // height: 218px;
}
table#task-table,
table.task-table {
    tbody {
        tr {
            .btn-task-c-s {
                padding-top: 1px;
                padding-bottom: 1px;
            }
        }
    }
}
table.task-table tbody td,
table.dataTable tbody td {
    padding-top: 0px;
    padding-bottom: 0px;
}
table.table-dark,
.thead-dark th {
    background-color: #444 !important;
}
table.dataTable td.dataTables_empty {
    color: #dc3545!important;
}

table#task-table thead,
table.dataTable thead {
    th {
        // background: transparent !important;
        white-space: nowrap;

        .task-table-header {
            display: flex;
            flex-flow: row;
            align-items: center;
        }
    }

    th, td {
        padding-top: 3px;
        padding-bottom: 4px;
        padding-left: 10px;
    }

    .sorting,
    .sorting_asc,
    .sorting_desc {
        background-image: none !important;
    }
    span.sort-icon {
        display: inline-block;
        padding-left: 5px;
        width: 16px;
        height: 16px;
        margin-left: 10px;
    }
    .sorting span {
        background: url('/images/sort_both.png') no-repeat center right;
    }
    .sorting_asc span {
        background: url('/images/sort_asc.png') no-repeat center right;
    }
    .sorting_desc span {
        background: url('/images/sort_desc.png') no-repeat center right;
    }
     
    .sorting_asc_disabled span {
        background: url('/images/sort_asc_disabled.png') no-repeat center right;
    }
    .sorting_desc_disabled span {
        background: url('/images/sort_desc_disabled.png') no-repeat center right;
    }
     
    .sorting::before,
    .sorting_asc::before,
    .sorting_desc::before,
    .sorting_asc_disabled::before,
    .sorting_desc_disabled::before {
        content: "";
    }
     
    .sorting::after,
    .sorting_asc::after,
    .sorting_desc::after,
    .sorting_asc_disabled::after,
    .sorting_desc_disabled::after {
        content: "";
    }    
}

/*
* default input, select, textarea
*/
input[type=text],
input[type=number],
input[type=password],
input[type=file],
input[type=email],
select,
select.form-control,
textarea,
textarea.form-control,
.form-control:disabled,
.form-control[readonly] {
    background-color: #000;
    border: solid 1px #fff;
    color: #fff;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=file]:focus,
input[type=email]:focus,
select:focus,
select.form-control:focus,
textarea:focus,
textarea.form-control:focus,
.form-control[readonly]:focus {
    background-color: #000;
    color: #fff;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff !important;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff !important;
  }

/*
* radio button
*/
input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 0 2px #fff;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type='radio']:checked:before {
    background: #fff;
}

/*
* checkbox button
*/
input[type='checkbox'] {
    width: 15px;
    height: 15px;
    outline: none;
    box-shadow: 0 0 0 2px #fff;
}

/*
* tooltip
*/
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    background-color: #fff;
    border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    margin-top: -3px;
    content: "";
    border-width: 5px 5px 5px 0;
    border-right-color: #fff;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^=top] .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #fff;
}

.tooltip.show.bs-tooltip-right {
    left: 5px !important;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^=left] .arrow::before {
    left: 0;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: #fff;
}

/*
* modal
*/
#task-add-modal {
    .additional-tasks {
        padding: 0 1rem;
    }
    input.form-control {
        border-radius: 0;
        height: 1.5rem;
    }
    .btn-suggest-save-wrapper {
        padding-left: 5px;
        padding-right: 5px;
    }
    select.form-control,
    button.btn-suggest-save {
        border-radius: 0;
        height: 1.5rem;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/*
* select/deselect checkbox
*/
.form-inline .form-check-input.select-all {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

/*
* outbound
*/
.main-info {
    .form-control {
        height: 1.5rem;
        padding: 1px 0.75rem;
    }
}
#outboundTabs,
#oppTabs,
#scriptTabs,
#emailTabs {
    .nav-item {
        .nav-link {
            padding: 0.25rem 1rem;
            border: 1px solid #fff;
            color: #fff;        
        }
        .nav-link.active {
            color: #495057;
        }
    }
}
#outboundTabsContent .action-group .btn-app-default,
#outboundTabsContent .action-group .btn-grad {
    padding: 0 0.5rem;
    height: 29px;
}
.persons-table-wrapper,
.scripts-table-wrapper,
.emails-table-wrapper {
    max-height: 315px;
    overflow-y: auto;
    border: solid 1px #fff;
}
.skills-table-wrapper {
    max-height: 800px;
    overflow-y: auto;
    border: solid 1px #fff;
}
.assessments-table-wrapper {
    border: solid 1px #fff;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    table#assessments-table {
        input {
            border: 0;
        }
        .input-group-text {
            border: 0;
        }
    }
}
.persons-table-wrapper {
    table#persons-table {
        input, select {
            border: 0;
        }
    }
}
#upload-file-modal input[type=file].form-control {
    padding: 0.2rem;
    border-radius: 0;
    height: auto;
}
#settingsTabsContent {
    table#scripts-table,
    table#emails-table,
    table#skills-table {
        tr th {
            padding-top: 0;
            padding-bottom: 0;
        }
        tr td {
            vertical-align: middle;
            button {
                padding-top: 1px;
                padding-bottom: 1px;
            }
        }        
    }
}
table#persons-table,
table#scripts-table,
table#emails-table,
table#skills-table,
table#assessments-table {
    input[type=text],
    input[type=number],
    select {
        border-radius: 0;
        height: 1.5rem;
        padding: 0 0.25rem;
        font-size: 12px;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {  
        -webkit-appearance: none;
    }
    .btn.btn-counter {
        height: 1.5rem;
        padding: 0 0.25rem;
        margin: 0;
        background-color: #000;
        color: #fff;
        border-radius: 0;
        border: 0;
    }
    tr th {
        position: sticky;
        top: -1px;
        padding: 0.25rem 5px;
        z-index: 100;
        border-color: #fff;
    }
    tbody tr td {
        padding: 0;
    }
    .btn-remove-row {
        height: 1.5rem;
        i.bi.bi-x:before {
            vertical-align: 0;
        }
    }
    span.input-group-text {
        height: 1.5rem;
    }
}

a.a-btn-remove-account {
    cursor: pointer;
}
.h-px-100 {
    height: 100px !important;
}
.h-px-140 {
    height: 140px !important;
}
.h-default-input {
    height: 1.5rem !important;
}
.h-3rem-2px {
    height: calc(3rem + 2px) !important;
}

/*
* Opportunities
*/
.collapse-section {
    .form-control {
        height: 1.5rem;
        padding: 1px 0.75rem;
    }
}

/*
* Page Loader
*/
#page-loader {
    opacity: .5;
}
#page-loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 999998;
}
#page-loader:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background-color: #5c90d2;
    border-radius: 100%;
    content: '';
    z-index: 999999;
    -webkit-animation: page-loader 0.9s infinite ease-in-out;
    animation: page-loader 0.9s infinite ease-in-out;
}
.ie9 #page-loader:after {
    text-align: center;
    content: 'Loading..';
    background-color: transparent;
    }
    @-webkit-keyframes page-loader {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
    }
    @keyframes page-loader {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@media (min-width: 576px) {
    .ml-sm-auto, .mx-sm-auto {
        margin: 0 auto !important;
    }
}
@media (min-width: 768px) {
    .pl-md-4, .px-md-4 {
        padding-left: 3rem !important;
    }

    .pr-md-4, .px-md-4 {
        padding-right: 3rem !important;
    }

    .col-md-3 {
        min-width: 200px;
    }

    #outboundTabsContent .col-md-3 {
        min-width: unset;
    }
}
@media (min-width: 992px) {
    .col-lg-2 { 
        max-width: 13%;
        min-width: 200px;
    }
}

/*
* datepicker
*/
.datepicker-dropdown {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/*
* bootstrap-select
*/
.dropdown.bootstrap-select button.dropdown-toggle {
    height: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    background-color: #000;
    color: #fff;
    border: solid 1px #fff;
}

.dropdown.bootstrap-select button.dropdown-toggle:focus {
    height: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    background-color: #000;
    color: #fff;
    border: solid 1px #fff;
    outline: none !important;
}
table .dropdown.bootstrap-select button.dropdown-toggle,
table .dropdown.bootstrap-select button.dropdown-toggle:focus {
    border: none !important;
}
.dropdown.bootstrap-select .dropdown-menu {
    border-radius: 0;
    background-color: #000;
    color: #fff;
}
.dropdown.bootstrap-select > .dropdown-menu {
    border: solid 1px #fff;
}

.bootstrap-select .dropdown-menu li a {
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
}
.bootstrap-select.form-control {
    background-color: #000;
}

.w-65-px {
    width: 65px !important;
}
.w-102-px {
    width: 102px !important;
}

/*
* Meddpicc sections
*/
.meddpicc-section {
    input[type=radio].form-check-input {
        width: 15px;
        height: 15px;
        margin-right: 15px;
        position: relative;
        flex-shrink: 0;
        margin-top: 0;
        margin-left: 0;
    }

    .form-check {
        justify-content: left;
        height: 22px;
        padding: 0.2rem 0.5rem;
        display: flex;
        align-items: center;
        width: auto;
    }

    label.form-check-label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-right: 50px;
    }
}