/*
* suggest step
*/
#settingsTabs .nav-item .nav-link {
  color: #fff;
  border-color: #fff;
}
#settingsTabs .nav-item .nav-link.active {
  color: #495057;
}

#settings-tab-tasks {
  padding: 0 0 0 2rem;
}
#settings-tab-tasks .select-all-slash {
  color: #3490dc;
}
#settings-tab-tasks #suggest_step #tabs {
  margin-left: 0 !important;
}
#settings-tab-tasks #suggest_step #content {
  width: 80%;
}
#settings-tab-tasks .tab-pane {
  display: flex;
  flex-wrap: wrap;
}
#settings-tab-tasks .tab-content > .tab-pane {
  display: none;
}
#settings-tab-tasks .tab-content > .active {
  display: flex;
}
#settings-tab-tasks .nav-tabs {
  display: none;
}
#settings-tab-tasks .nav-tabs .nav-link.active, #settings-tab-tasks .nav-tabs .nav-item.show .nav-link {
  background-color: #000;
}
#settings-tab-tasks .nav-tabs .nav-link, #settings-tab-tasks .nav-tabs .nav-link.active {
  color: #fff;
}
#settings-tab-tasks .suggest-step-deactive {
  display: none;
}
#settings-tab-tasks .suggest-step-active {
  display: flex;
}
#settings-tab-tasks .suggest-step-item-deactive {
  display: none;
}
#settings-tab-tasks .suggest-step-item-active {
  display: block;
}
@media (min-width: 768px) {
  #settings-tab-tasks .nav-tabs {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: none;
    border-right: 1px solid #000;
    display: flex;
    margin: 0 15px;
  }
  #settings-tab-tasks .nav-tabs .nav-item + .nav-item {
    margin-top: 0.25rem;
  }
  #settings-tab-tasks .nav-tabs .nav-link {
    transition: border-color 0.125s ease-in;
    white-space: nowrap;
  }
  #settings-tab-tasks .nav-tabs .nav-link:hover {
    background-color: #000;
    border-color: transparent;
  }
  #settings-tab-tasks .nav-tabs .nav-link.active {
    border-bottom-color: #ddd;
    border-right-color: #000;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    margin-right: -1px;
  }
  #settings-tab-tasks .nav-tabs .nav-link.active:hover {
    background-color: #fff;
    border-color: #0275d8 #fff #0275d8 #0275d8;
  }
  #settings-tab-tasks .card {
    border: none;
  }
  #settings-tab-tasks .card .card-header {
    display: none;
  }
  #settings-tab-tasks .card .collapse {
    display: block;
  }
}
@media (max-width: 767px) {
  #settings-tab-tasks .tab-pane {
    display: block !important;
    opacity: 1;
  }
}
@media (min-width: 768px) {
  #settings-tab-tasks .nav-tabs {
    display: flex;
    flex-flow: column nowrap;
    border-bottom: none;
    border-right: 1px solid #ddd;
    display: flex;
    margin: 0 15px;
  }
  #settings-tab-tasks .nav-tabs .nav-item + .nav-item {
    margin-top: 0.25rem;
  }
  #settings-tab-tasks .nav-tabs .nav-link {
    transition: border-color 0.125s ease-in;
    white-space: nowrap;
  }
  #settings-tab-tasks .nav-tabs .nav-link:hover {
    background-color: #000;
    border-color: transparent;
  }
  #settings-tab-tasks .nav-tabs .nav-link.active {
    border-bottom-color: #ddd;
    border-right-color: #000;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    margin-right: -1px;
  }
  #settings-tab-tasks .nav-tabs .nav-link.active:hover {
    background-color: #000;
    border-color: #fff #000 #fff #fff;
  }
  #settings-tab-tasks .card {
    border: none;
  }
  #settings-tab-tasks .card .card-header {
    display: none;
  }
  #settings-tab-tasks .card .collapse {
    display: block;
  }
}
@media (max-width: 767px) {
  #settings-tab-tasks .tab-pane {
    display: block !important;
    opacity: 1;
  }
}
